.bannerBgImage{
    
    height: 100vh;
    background: url("image/bannerImage.jpg");
    background-size: cover;
    position: relative;
}

.bannerText{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.bannerTitle{
    font-size: 4rem;

}
 .bannerDesc{
    font-size: 2rem;
 }
 .font{
    font-size: x-large;
 }
.style{
    font-size: x-large;
}

.deco{
    font-size: larger;
}
 .card{
    cursor: pointer;
 }

 .card:hover{
    background-color: palevioletred;
    border: 5px solid yellowgreen;
 }
 .km{
    color: aqua;
 }

 